{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ecomapp:mycart' %}">Cart</a></li>
            <li class="breadcrumb-item active">Register</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="conatiner">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Login Form</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn">Customer Login<Form></Form></button>
                {% if error %}
                <li style="color: aqua;">{{error}}</li>
                {% endif %}
            </form>
            <hr>
            <p>Don't have account ? <a href="{% url 'ecomapp:customerregistration' %}
                {% if request.GET.next %}?next={{request.GET.next}}{% endif %}" class="btn">Register Now</a></p>
        </div>
    </div>
</div>        
        

 {% endblock %}
