{% extends 'base.html' %}
{% load static %}
{% block content %}
       
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                {% for cat in category %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/all-products/"><i class="fa {{cat.logo}}"></i>{{cat.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                            {% for slider in sliders %}
                            <div class="header-slider-item">
                                <img src="{{slider.image.url}}" alt="Slider Image" width="800" height="400" />
                                <div class="header-slider-caption">
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header-img">
                            {% for ad in ads %}
                            {% if ad.rank == 1 %}
                            <div class="img-item">
                                <img src="{{ad.image.url}}" />
                                <a class="img-text" href="http://nagennews.com" target="_blank">
                                    <p>{{ad.description}}</p>
                                </a>
                            </div>
                            {% elif ad.rank == 2 %}
                            <div class="img-item">
                                <img src="{{ad.image.url}}" />
                                <a class="img-text" href="http://nagennews.com" target="_blank">
                                    <p>{{ad.description}}</p>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Main Slider End -->   
        
    <div class="container">  
        <div class="row mt-3">   
            {% for p in product_list %}
            <div class="col-md-3 card">
                <div class="m-4">
                    <h3><a href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h3>
                    <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 250px; object-fit:cover;" >
                    <p class="mt-3">Price: <strike>Rs. {{p.marked_price}}</strike> Rs. {{p.selling_price}}</p>
                    <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
            {% endfor %}    
        </div> 
        <hr>
        <nav aria-label="...">
            <ul class="pagination">
                {% if product_list.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              {% for i in product_list.paginator.page_range %}
              {% if i == product_list.number %}
              <li class="page-item active"><a class="page-link">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
              {% endfor %}

              {% if product_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          <hr>
    </div> 

    <!-- Brand Start -->
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">
                {% for brand in brands %}
                <div class="brand-item"><img src="{{brand.image.url}}" alt="" width="150px" height="150px"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Brand End -->

        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Call us for any queries and help..</h1>
                    </div>
                    <div class="col-md-6">
                        <a href=""><i class="fa fa-phone">01-4111849</i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->  

               <!-- Feature Start-->
               <div class="feature">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 feature-col">
                            <div class="feature-content">
                                <i class="fab fa-cc-mastercard"></i>
                                <h2>Secure Payment</h2>
                                <p>
                                    we support relaible and easy payment method.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-col">
                            <div class="feature-content">
                                <i class="fa fa-truck"></i>
                                <h2>Worldwide Delivery</h2>
                                <p>
                                    East to west, North to South of this planet, we deliver everywhere.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-col">
                            <div class="feature-content">
                                <i class="fa fa-sync-alt"></i>
                                <h2>90 Days Return</h2>
                                <p>
                                    If any things in our product is damaged and unsatisfied. You can return before 90 days.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-col">
                            <div class="feature-content">
                                <i class="fa fa-comments"></i>
                                <h2>24/7 Support</h2>
                                <p>
                                    We provide 24 hour online services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End--> 

        <!-- Newsletter Start -->
        <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Subscribe Our Newsletter for Sales and Discount Time</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <input type="email" value="Your email here">
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->
    
        
    
{% endblock %}