<html>
<head>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>
<body>
    <h2>Your total amount is Rs. {{order.total}}</h2>

    <!-- Place this where you need payment button -->
    <button id="payment-button">Pay with Khalti</button>
    <a href="/" class="btn">Go to home page</a>

    <!-- Paste this code anywhere in you body tag -->
    <!-- i have changed publickey, productName, productURL, and axios  -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_c5c63915be0a49578162fb662045fab5",
            "productIdentity": "order_{{order.id}}",
            "productName": "order_{{order.id}}",
            "productUrl": "http://localhost:8000",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    axios.get("/Khalti-verify/", {
                        params: {
                            "token": payload.token,
                            "amount": payload.amount,
                            "order_id": "{{order.id}}"
                        }
                    }).then(function(resp){
                        if (resp.data.success == true){
                            alert("Payment Completed Successfully")
                            location.href = "/"
                        }else{
                            alert("Sorry, Error occured")
                            location.href = "{{request.build_absolute_url}}" 
                        }
                    })
                
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: {{order.total}}*100});
        }
    </script>
    <!-- Paste this code anywhere in you body tag -->
</body>
</html>