{% extends 'base.html' %}
{% load static %}
{% block content %}

   <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/">Products</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!--cart start-->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>SN</th>
                                    <th>Product</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cp in cart.cartproduct_set.all %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{cp.product.title}}</td>
                                    <td>{{cp.rate}}</td>
                                    <td>{{cp.quantity}}</td>
                                    <td>{{cp.subtotal}}</td>
                                    <td>
                                        <a href="{% url 'ecomapp:managecart' cp.id %}?action=inc" class="btn">+</a>
                                        <a href="{% url 'ecomapp:managecart' cp.id %}?action=dcr" class="btn">-</a>
                                        <a href="{% url 'ecomapp:managecart' cp.id %}?action=rmv" class="btn">x</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="4" class="text-right">Total</th>
                                    <th> Rs. {{cart.total}}</th>
                                </tr>    
                                {% if cart.cartproduct_set.all %}
                                <tr>
                                    <th><a class="btn" href="{% url 'ecomapp:emptycart' %}">Empty Cart</a></th>
                                </tr>
                                {% endif %}
                                {% if cart.cartproduct_set.all %}
                                <tr>
                                    <th><a class="btn" href="{% url 'ecomapp:checkout' %}">Checkout</a></th>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th><a href="/" class="btn">Shopping Again</a></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>           
<!--cart end-->



{% endblock %}