{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ecomapp:mycart' %}">Cart</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'ecomapp:customerregistration' %}>Register</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb end -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h3>Search Results of <span class="badge text-info">"{{request.GET.keyword}}"</span></h3>
          <hr> 
          {% for result in results %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{result.image.url}}" class="img-fluid" alt="">
                </div>

            </div>
          {% endfor %} 
        </div>
    </div>
</div>

{%endblock%}